$colors: (
    body: (
        color: #445374,
    ),
    heading: (
        color: #002169,
    ),
    theme: (
        primary: #894B8D,
        secondary: #002169,
    ),
    color: (
        dark-blue: #0E104B,
        dark-blue-2: #001950,
        light-blue: #37528E,
        yellow-default: #FFBE17,
        yellow-light: #F9EADC,
        white-default: #ffffff,
        red-default: #ED1730,
        gray-1: #ACB9D8,
        gray-2: #686677,
        gray-3: #C2A8C2,
        gray-4: #F7F4F7,
        gray-5: #8FA5D6,
        gray-6: #D0DAEF,
        gray-7: #9399A6,
        dark: #111111,
        black-1: #06042E,
        black-2: #161439,
    ),
    border: (
        1: #C8C2C8,
        2: #D0CACA,
        3: #CCD2E1,
        4: #DBE3EB,
        5: #F8F8F8,
        6: #E6E6E6,
    )
);
